html{
	background-image: url('../img/bgs.jpg');
}
.container {
	width: 81.85%;
	padding: 0px 20px;
	margin: 0 auto;
	border: 1px solid #CFA174;	
	
	-moz-box-shadow: 0px 0px 10px #222; 
	-webkit-box-shadow: 0px 0px 10px #222; 
	box-shadow: 0px 0px 10px #222; 
}

a {
	position: relative;
	color: #afafaf;
}

a:hover, a:focus {
	color: hsla(241, 1%, 29%, 0.73);
	text-decoration: none;	
}

a:active {
	top: 1px;
}

/* content */

section {
	overflow: hidden;
}

section nav {
	float: right;
	padding: 30px 0px 30px 20px;	
	margin-left: 40px;
	margin-right: 30px;
	border-left: 1px solid #CFCFCF;
	
	font-size: 14px;
	font-weight: bold;
}

section nav li {
	line-height: 2.5em;
}

section h2 {
	margin-top: 20px;

	color: #333;
	font-size: 24px;
	letter-spacing: -1px;
	text-shadow: 0px 1px 1px #aaa;
}

.step {
	padding: 0px;
	background-color: #ddd;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	
	font-size: 14px;
	font-weight: bold;
}

pre {
	padding: 10px;
	overflow: auto;
	background-color: #333;
	
	color: #fff;
}


